@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Lobster&display=swap');
body {
  background-image: url("/images/connected.jpg");
}
[data-status="banked"] .dice ul:first-child {
  opacity: .3;
}
[data-status="failure"] .dice li {
  opacity: .3;
  color: red;
}
.dice {
  position: relative;
}
.winner,
.fail {
  visibility: hidden;
  margin-top: -1.5em;
  text-align: center;
  font-family: Oswald;
  font-size: 5em;
  color: red;
  z-index: 2;
  position: absolute;
  width: 100%;
}
.winner {
  color: black;
}
[data-status="failure"] .fail {
  visibility: visible;
}
[data-status="over"] .winner {
  visibility: visible;
}
[data-banked~="0"] li[data-value="0"],
[data-banked~="1"] li[data-value="1"],
[data-banked~="2"] li[data-value="2"],
[data-banked~="3"] li[data-value="3"],
[data-banked~="4"] li[data-value="4"],
[data-banked~="5"] li[data-value="5"] {
  box-shadow: 0 3px 10px rgb(230 0 0 / 0.5);
  transform: rotate(10deg);
}

ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}
h1 {
  text-align: center;
  font-family: Lobster;
}
.dice {
  height: 7em;
}
.dice li {
  background-color: white;
}
.dice ul:first-child {
  margin: 1em;
}
.dice ul:first-child > li {
  cursor: pointer;
}
.dice span {
  font-family: Lobster;
  font-size: 2.5em;
  line-height: 2.5em;
}
.roll {
  font-size: 3em;
  cursor: pointer;
  text-align: center;
}
.tiles {
  text-align: center;
}
.tiles ul,
.players ul {
  list-style: none;
}
ul.stack {
  margin: auto 0;
  width: 4.5em;
  height: 8em;
  display: inline-block;
  position: relative;
}
ul.stack li.tile {
  z-index: 160;
  left: 0;
  position: absolute;
}
ul.stack li.tile + li.tile {
  top: 10px;
  z-index: 150;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile {
  top: 100px;
  z-index: 150;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile {
  top: 20px;
  z-index: 140;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile {
  top: 200px;
  z-index: 140;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile {
  top: 30px;
  z-index: 130;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile {
  top: 300px;
  z-index: 130;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 40px;
  z-index: 120;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 400px;
  z-index: 120;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 50px;
  z-index: 110;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 500px;
  z-index: 110;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 60px;
  z-index: 100;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 600px;
  z-index: 100;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 70px;
  z-index: 90;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 700px;
  z-index: 90;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 80px;
  z-index: 80;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 800px;
  z-index: 80;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 90px;
  z-index: 70;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 900px;
  z-index: 70;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 100px;
  z-index: 60;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1000px;
  z-index: 60;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 110px;
  z-index: 50;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1100px;
  z-index: 50;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 120px;
  z-index: 40;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1200px;
  z-index: 40;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 130px;
  z-index: 30;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1300px;
  z-index: 30;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 140px;
  z-index: 20;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1400px;
  z-index: 20;
  transition: all .6s ease-in-out;
}
ul.stack li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 150px;
  z-index: 10;
  transition: all .6s ease-in-out;
}
ul.stack:hover li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile + li.tile {
  top: 1500px;
  z-index: 10;
  transition: all .6s ease-in-out;
}
.players {
  margin: auto 0;
  display: block;
  text-align: center;
}
.players .name {
  font-size: 1.4em;
  font-family: Oswald;
}
.players > ul > li {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  width: 4.5em;
}
li.tile.taken {
  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
}
li.tile.taken .rank {
  opacity: .2;
}
li.tile.taken .worms {
  visibility: hidden;
}
li.tile {
  display: inline-block;
  text-align: center;
  border: solid 1px dimgray;
  width: 3em;
  height: 6em;
  border-radius: 5px;
  margin: .5em;
  background-color: white;
  padding: .25em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
  overflow: hidden;
  cursor: pointer;
}
li.tile .rank {
  font-size: 2em;
  font-family: Lobster, cursive;
}
li.tile .worms {
  font-size: 1.25em;
}
li.tile[data-worms="1"] .worms::after {
  content: "🪱"
}
li.tile[data-worms="2"] .worms::after {
  content: "🪱🪱"
}
li.tile[data-worms="3"] .worms::after {
  content: "🪱🪱🪱"
}
li.tile[data-worms="4"] .worms::after {
  content: "🪱🪱🪱🪱"
}
.tiles {
  margin-bottom: 2em;
}
.dice {
  text-align: center;
  font-family: Oswald;
  z-index: 1;
}
.dice ul > li {
  display: inline-block;
  margin: .5em;
  border-radius: 5px;
  border: solid 1px dimgray;
  padding: 1em;
  height: 1.25em;
  width: 1.25em;
  line-height: 1.25em;
  text-align: center;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
.dice ul + ul > li {
  font-size: 1.3em;
}
.players li[data-active] .roll {
  visibility: hidden;
}
.players li[data-active="true"] .roll {
  visibility: visible;
}
[data-status="success"] .players li[data-active="true"] .roll {
  opacity: .3;
}
.players .score {
  visibility: hidden;
  font-family: Oswald;
  font-size: 1.25em;
}
.players .winner {
  visibility: hidden;
  font-family: Oswald;
  font-size: 4em;
}
[data-status="over"] .players .winner,
[data-status="over"] .players .score {
  visibility: visible;
}
[data-status="over"] .players .roll {
  display: none;
}
